@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "Let's get in touch";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Clovis, CA 93619<br />
    <abbr title="Phone">P:</abbr>
    559.246.1370
</address>

<address>
    <strong>Email:</strong>   <a href="christa.r.fox@me.com">christa.r.fox@me.com</a><br />
</address>