@{
    ViewBag.Title = "Christa Fox";
    ViewBag.Message = "A little Resume me";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>I have a passion for people and design--whether it be the look of a website, photo, book, etc. I have worked in retail for over ten years, and assisting clients and meeting their needs and expectations is something I take pride in. I love teaching clients how to navigate through the new technologies that will make their lives simpler. </p>
<p>I'm currently in my Senior year of my Bachelor's for Computer Science at Franklin University. I previously received an Associate’s in the field from Salt Lake Community College. Before this, I received a certificate in Photojournalism from Fresno City College.</p>
